* {
  font-family: 'OpenSans', sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
}

.gallery-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  width: 95%;
  &:hover {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.image-modal {
  .body {
    padding: 0 !important;
  }
}

.arrow {
  color: #fff !important;
  &:hover {
    color: #445 !important;
  }
}
